# Ignore raw high-throughput data inputs
data/*.fastq
data/*.fq
data/*.fastq.gz

# Ignore heavy binary genome reference indexing matrices
HISAT2/grch38/
*.tar.gz
*.ht2

# Ignore alignment outcomes and intermediate calculations
HISAT2/*.bam
HISAT2/*.sam

# Ignore massive comprehensive annotation scripts and outputs
quants/*.gtf
quants/*.gtf.gz
quants/*_featurecounts.txt
quants/*_featurecounts.txt.summary

# Ignore local system environments and temporary hidden caches
.Rhistory
.RData
.Rproj.user/
.ipynb_checkpoints/
.DS_Store
